-- Character Database
chardb = {
	["host"] = "localhost",
	["username"] = "root",
	["password"] = "",
	["table_prefix"] = "",
	["database"] = "maplestory",
	["port"] = 3306,
};

-- MCDB
datadb = {
	["host"] = "localhost",
	["username"] = "root",
	["password"] = "",
	["table_prefix"] = "",
	["database"] = "mcdb",
	["port"] = 3306,
};