-- Use the PIN system?
pin = true;

-- What port should the login server run on?
port = 8484;

-- What port should the login server accept inter-server connections on?
inter_port = 8485;

-- How many invalid logins should the server handle before disconnecting the player? (0 will turn off this feature)
invalid_login_threshold = 5;