-- Use the PIN system?
pin = true;

-- What port should the login server run on?
port = 8484;

-- What port should the login server accept inter-server connections on?
inter_port = 8485;

-- What port should the cash servers run on?
-- The cashserver shall listen on this port + the world id
cash_port = 8000;

-- How many invalid logins should the server handle before disconnecting the player? (0 to turn off this feature)
invalid_login_threshold = 5;

-- Accept telnet connections at all?
telnet_enabled = true;

-- What port should be used to accept telnet connections? (to remote control the server)
telnet_port = 8486;

-- What is the password for the LoginServer telnet server?
telnet_password = "changeme";